{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts.css' %}">
    <title>
        {% block header %}
        {% endblock %}
    </title>
</head>
<body>
    <div class='navBar'>
        <div class="navBarTitle">
            <a href=""><img src="{% static 'imgs/title.gif' %}" alt="" srcset=""></a>
            <h2>SASP</h2>
        </div>
    </div>

    <div class="mainBody">
        {% block content %}
        {% endblock content %}
    </div>

    {% block script %}
    {% endblock script %}


</body>
</html>