{% extends 'accounts/index.html' %}

{% block header %}
Change Password
{% endblock header %}


{% block content %}
    <div class="registration">
        <form method="POST" action="" class="registrationForm">
            {% csrf_token %}
             {% for field in regisForm %}
            <div>
                <p>{{field.label}}</p>
                {{field}}
            </div>
            {% endfor %}
            {% for message in messages %}
            <script>
                alert('{{ message }}')
            </script>
            {% endfor %}
            <input type="submit" value="Register" class="registerButton">

        </form>
    </div>
    
{% endblock content %}

{% block script %}
<script>
    
</script>
{% endblock script %}